filename,texture_persistence,wear_localization,micro_injury_history,tendon_vein_definition,nail_evidence,symmetry_of_wear,climate_ppe
001.jpg,18,14,11,10,7,8,4
002.jpg,3,2,1,3,2,1,0
003.jpg,22,17,13,12,9,9,5
